
body {
  margin: 20px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: right;
  letter-spacing: -8px;
  color: #f0f0f0;
  margin: -40px 0px;
}

p {
  margin: 0px;
  color: #666;
  font-size: 20px;
}

.true {
  color: red;
  transition: .4s;
}
.false {
  color: blue;
  transition: .4s;
}